<footer> 
        <p>Geek for Geeks</p>
        <p>W3School</p>
        <p>Programize.com</p>
        <p>CodeForce</p>
        <p>CodeChef</p>
        <p>HackerRank</p>
        <h3>Created with ❤ by Sudheer kumar</h3>
</footer>