<footer>
    <div id="fform">
        <h2>For any queries/suggestion </h2>
        <form action="/query" method="POST">
                    <input type="text" name="name" placeholder="Enter your name"><br>
                    <textarea name="queries" cols="30" rows="8" placeholder="Enter your quries/suggestion"></textarea>
                   <br><input type="submit" value="Submit" id="sbtn">
        </form>
    </div>

</footer>
